
body, html {
    margin: 0;
    padding-left: 130px;
    padding-right: 130px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
}

.left {
    width: 40%;
    background-color: #d2b48c;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

.right {
    width: 60%;
    background-color: #ecf0f1;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px; 
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    object-fit: cover;
}


.left h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}


.left ul {
    margin-bottom: 20px;
    padding-left: 20px;
}


ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    line-height: 1.5;
}


.right h2, .right h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.right p, .right ul {
    margin-bottom: 20px; 
}